In [29]:
# Classic Imports
import pandas as pd
import re
import copy

In [30]:
# Getting the first Dataset
after = pd.read_csv('CSV\AfterRedData.csv')
before = pd.read_csv('CSV\BeforeRedData.csv')

In [31]:
after = after.drop(['Unnamed: 0'], axis=1)
before = before.drop(['Unnamed: 0'], axis=1)

In [32]:
after

,M0,M1,M2,M3,M4,M5,M6,M7,M8,M9,...,M81,M82,M83,M84,M85,M86,M87,M88,M89,M90
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-2,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3561,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3562,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
3565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [33]:
def rangeTwo(x, y):
    Final = []
    while x < y:
        Final.append(x)
        x = x + 1
    return Final

def createList(dataset):
    reform_list = []
    for reform in dataset.index:
        place_holder_list = [0, 0, 0]
        for holder in rangeTwo(0, (len(dataset.columns) - 1)):
            column_name = 'M' + str(holder)
            holder_in = dataset.loc[reform, column_name]
            if holder_in == 1:
                place_holder_list[0] = place_holder_list[0] + 1
            elif holder_in == 3:
                place_holder_list[2] = place_holder_list[2] + 1
            elif holder_in == 4:
                place_holder_list[0] = place_holder_list[0] + 1
            elif holder_in == -1:
                place_holder_list[1] = place_holder_list[1] + 1
            elif holder_in == -4:
                place_holder_list[1] = place_holder_list[1] + 1
        reform_list.append(place_holder_list)
        
    return reform_list

test_input = createList(before)
test_output = createList(after)

In [34]:
before_test = pd.DataFrame(test_input, columns=['Goal_Home', 'Goal_Away', 'Red_Card'])
after_test = pd.DataFrame(test_output, columns=['Goal_Home', 'Goal_Away', 'Red_Card'])

In [35]:
# Adding score rate and red card time
def score_rate_list(dataset):
    total_score_rate_list = []
    time_red_card = []
    for score_rate_total_list in dataset.index:
        total_goal_home = 0
        total_goal_away = 0
        red_card_position = 0
        for score_rate in rangeTwo(0, len(dataset.columns) - 1):
            score_rate_column = 'M' + str(score_rate)
            total_check = dataset.loc[score_rate_total_list, score_rate_column]
            if total_check == 1:
                total_goal_home = total_goal_home + 1
            elif total_check == -1:
                total_goal_away = total_goal_away + 1
            elif total_check == 3 or total_check == -3:
                red_card_position = score_rate
        if red_card_position > 0:
            score_rate_list_place_holder = []
            score_rate_goal_home = total_goal_home / red_card_position 
            score_rate_goal_away = total_goal_away / red_card_position
            score_rate_list_place_holder.append(score_rate_goal_home)
            score_rate_list_place_holder.append(score_rate_goal_away)
            total_score_rate_list.append(score_rate_list_place_holder)
            if red_card_position <= 15:
                time_red_card.append(1)
            elif red_card_position > 15 and red_card_position <= 30:
                time_red_card.append(2)
            elif red_card_position > 30 and red_card_position <= 45:
                time_red_card.append(3)
            elif red_card_position > 45 and red_card_position <= 60:
                time_red_card.append(4)
            elif red_card_position > 60 and red_card_position <= 75:
                time_red_card.append(5)
            elif red_card_position > 75:
                time_red_card.append(6)
        if red_card_position == 0:
            score_rate_list_place_holder = []
            score_rate_goal_home = total_goal_home / 1
            score_rate_goal_away = total_goal_away / 1
            score_rate_list_place_holder.append(score_rate_goal_home)
            score_rate_list_place_holder.append(score_rate_goal_away)
            total_score_rate_list.append(score_rate_list_place_holder)
            if red_card_position <= 15:
                time_red_card.append(1)
            elif red_card_position > 15 and red_card_position <= 30:
                time_red_card.append(2)
            elif red_card_position > 30 and red_card_position <= 45:
                time_red_card.append(3)
            elif red_card_position > 45 and red_card_position <= 60:
                time_red_card.append(4)
            elif red_card_position > 60 and red_card_position <= 75:
                time_red_card.append(5)
            elif red_card_position > 75:
                time_red_card.append(6)
                
    return total_score_rate_list

In [36]:
score_list_before = score_rate_list(before)
score_list_after = score_rate_list(after)

In [37]:
score_rate_before =  pd.DataFrame(score_list_before, columns=['Score_Rate_Home_Before', 'Score_Rate_Away_Before'])
score_rate_after =  pd.DataFrame(score_list_after, columns=['Score_Rate_Home_After', 'Score_Rate_Away_After'])

In [41]:
before_test = pd.merge(before_test, score_rate_before, left_index=True, right_index=True)
after_test = pd.merge(after_test, score_rate_after, left_index=True, right_index=True)

In [43]:
after_test

,Goal_Home,Goal_Away,Red_Card,Score_Rate_Home_After,Score_Rate_Away_After
0,0,3,1,0.000000,0.049180
1,0,1,0,0.000000,0.035714
2,2,0,0,0.111111,0.000000
3,1,0,0,0.020833,0.000000
4,1,0,0,0.014493,0.000000
...,...,...,...,...,...
3561,2,0,0,0.086957,0.000000
3562,2,0,0,0.035714,0.000000
3563,1,0,0,0.066667,0.000000
3564,1,0,0,0.025641,0.000000
3565,1,0,0,0.014925,0.000000

In [44]:
before_test

,Goal_Home,Goal_Away,Red_Card,Score_Rate_Home_Before,Score_Rate_Away_Before
0,2,1,1,0.032787,0.016393
1,0,0,0,0.000000,0.000000
2,1,0,0,0.055556,0.000000
3,1,1,0,0.020833,0.020833
4,0,1,0,0.000000,0.014493
...,...,...,...,...,...
3561,0,1,0,0.000000,0.043478
3562,3,1,0,0.053571,0.017857
3563,1,0,0,0.066667,0.000000
3564,0,0,0,0.000000,0.000000
3565,1,0,0,0.000000,0.000000

In [78]:
count = 0
red_card_away = []
for x in before_test.index:
    if before_test.loc[x, 'Red_Card'] == 1:
        red_card_away.append(count)
    count = count + 1

red_card_away_before = before_test.drop(red_card_away)
red_card_away_after = after_test.drop(red_card_away)

In [79]:
count = 0
red_card_home = []
for x in before_test.index:
    if before_test.loc[x, 'Red_Card'] == 0:
        red_card_home.append(count)
    count = count + 1

red_card_home_before = before_test.drop(red_card_home)
red_card_home_after = after_test.drop(red_card_home)

In [80]:
import scipy.stats as stats

In [81]:
after = red_card_away_after.iloc[:, 4].values
before = red_card_away_before.iloc[:, 4].values

In [82]:
stats.ttest_rel(before, after)

TtestResult(statistic=10.595024905650353, pvalue=1.2877245818544232e-25, df=2199)